@import "./molecules/navbar";
@import "./mixins/variables";
@import "./mixins/utility";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $txt-dark;
}

body.dark-mode {
  background-color: $bg-dark;
  color: $txt-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
}